                                     <table>
                                        <tr>
                                            <td>הקטנת השתתפות עצמית</td>
                                        </tr>
                                        <tr>
                                            <td>ערך רכב חדש באובדן גמור</td>
                                        </tr>
                                        <tr>
                                            <td>כינון אוטו'</td>
                                        </tr>
                                        <tr>
                                            <td>כיסוי שמשות "פמי פרמוים"</td>
                                        </tr> 
                                        <tr>
                                            <td>שירותי "פמי"</td>
                                        </tr>
                                        <tr>
                                            <td>שמשות וגרירה חינם</td>
                                        </tr>
                                    </table>       