<table width="100%">
 <tr>
                                            <td>תאריך תחילת ביתוח</td>
                                            <td style="float:left;">
                                                {{vmCar.carServices.startDate.toString()}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>תאריך סיום ביתוח</td>
                                            <td style="float:left;">
                                                {{vmCar.carServices.finishDate.toString()}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>סוג רכב</td>
                                            <td style="float:left;">
                                                {{vmCar.carServices.selectedCarType}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>קוד דגם</td>
                                            <td style="float:left;">
                                                {{vmCar.carServices.selectedModelCode}}
                                            </td>
                                        </tr>  
                                        <tr>
                                            <td>בעלות</td>
                                            <td style="float:left;">
                                                {{vmCar.carServices.carOwnership}}
                                            </td>
                                        </tr>                                       
                                        <tr>
                                            <td>יצרן</td>
                                            <td style="float:left;">
                                                {{vmCar.carServices.selectedCarManufacturer}}
                                            </td>
                                        </tr>                                       
                                        
                                        <tr>
                                            <td>דגם</td>
                                            <td style="float:left;">
                                                {{vmCar.carServices.selectedModel}}
                                            </td>
                                        </tr>        
                                        <tr>
                                            <td>שנת יצור</td>
                                            <td style="float:left;">
                                                {{vmCar.carServices.selectedCarManufacturingYear}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>גיר</td>
                                            <td style="float:left;">
                                                {{vmCar.carServices.gir}}
                                            </td>
                                        </tr>
                                        
                                    </table>     