                       <div id="carDiscountCollapsiblePanel">   
                       <div class="row">
                             <div class="col-md-12" style="margin-bottm:10px;"><hr></div>
                       </div>                         
                         
                           
                       <div class="row">
                            <div class="col-md-6"><label>הנחת העדר תביעות:</label></div>                                   
                            <div class="col-md-6"><label>ותק:</label></div>

                       </div>                       
                       <div class="row">
                           <div class="col-md-6">
                                 <select class="ui-corner-all" 
                                         name="carModelYear" 
                                         data-ng-model = 'vmCar.carServices.noClaimsBonus'>
                                  <option value="">בחר</option>
                                  <option value="1">שנה אחד ללא תביעות</option>
                                  <option value="2">שנתיים ברצף ללא תביעות</option>
                                  <option value="3">שלוש שנים אחרונות ברצף ללא תביעות</option>
                                  
                                </select> 
                            </div>                                  
                            <div class="col-md-6">
                                 <select class="ui-corner-all"  
                                         name="carModelYear"
                                         data-ng-model = 'vmCar.carServices.experience'>
                                  <option value="">בחר</option>
                                  <option value="1">מעל שנה</option>
                                  <option value="2">מעל שנתיים</option>
    
                                </select> 
                            </div>

                       </div>                          
                           
                       <div class="row">
                             <div class="col-md-12" style="height:20px;"></div>
                       </div> 
                        
                       <div class="row">
                            <div class="col-md-6"><label>מורשים לנהוג:</label></div>                                   
                            <div class="col-md-6"><label>גיל נהג צאיר:</label></div>

                       </div>                       
                       <div class="row">
                            <div class="col-md-6">
                                <select class="ui-corner-all" 
                                        name="carModelYear"
                                        data-ng-model = 'vmCar.carServices.drivesNum'>
                                  <option value="">בחר</option>
                                  <option value="9">כל נהג</option>
                                  <option value="1">נהג אחד</option>
                                  <option value="2">עד 2 נהגים נקובים</option>
                                </select> 
                            </div>                                  
                            <div class="col-md-6">
                                <select class="ui-corner-all" 
                                        name="carModelYear"
                                        data-ng-model = 'vmCar.carServices.age'>
                                  <option value="">בחר</option>
                                  <option value="30">מעל גיל 30 ורשיון נהיגה מעל שנה</option>
                                  <option value="21">מעל גיל 21 ורשיון נהיגה מעל שנה</option>
                                  <option value="24">מעל גיל 24 ורשיון נהיגה מעל שנה</option>
                                  
                                </select> 
                            </div>

                       </div>
 
                      <div class="row">
                             <div class="col-md-12" style="height:20px;"></div>
                      </div> 
                        
                      <div class="row">
                             <div class="col-md-12" style="height:20px;"></div>
                      </div> 
                      <div class="row">
                                   
                            <div class="col-md-6"><label>הנחת חברה:</label></div>
                            <div class="col-md-6"><label>הנחה משותפת:</label></div>
 
                       </div>                       
                       <div class="row">
                                   
                            <div class="col-md-6">
                                <select class="ui-corner-all" name="carModelYear" >
                                  <option value="">בחר</option>
                                  <option value="11">ללא הנחה</option>
                                  <option value="11">הנחת חברה 10%</option>
    
                                </select> 
                            </div>
                            <div class="col-md-6">
                                <select class="ui-corner-all" name="carModelYear" >
                                  <option value="">בחר</option>
                                  <option value="11">ללא הנחה</option>
                                  <option value="11">הנחה משותפת 5% ע"ח 2.5% מהעמלה</option>
                                  <option value="11">הנחה משותפת 10% ע"ח 5% מהעמלה</option>
                                  <option value="11">הנחה משותפת 15% ע"ח 7.5% מהעמלה</option>
                                  <option value="11">הנחה משותפת 20% ע"ח 10% מהעמלה</option>
                                </select> 
                            </div>
                            			

                       </div> 
                        
                       <div class="row">
                          <div class="col-md-12" style="height:15px;"></div>
                       </div> 
                        
                        </div>