                    <div id="carAdditionCollapsiblePanel">
                    <div class="row">
                             <div class="col-md-12" style="margin-bottm:10px;"><hr></div>
                    </div>  

                       <div class="row">
                            <div class="col-md-6"><label>ערך דירה חדש באובדן גמור:</label></div>
                            <div class="col-md-6"><label>הקטנת השתתפות עצמית:</label></div>
                       </div>
                        
                       <div class="row">
                           
                           <div class="col-md-4"></div>  
                           <div class="col-md-2">
                               <div fw-toggle ng-model='model.newCar'></div>
                           </div>
                                                     
                           <div class="col-md-4"></div>    
                           <div class="col-md-2">
                                <div fw-toggle ng-model='model.selfParticipation'></div>
                           </div>

                       </div>     

                       <div class="row">
                             <div class="col-md-12" style="height:20px;"></div>
                       </div> 
                        
                       <div class="row">
                            <div class="col-md-6"><label>כיסוי שמשות "פמי פרמיום":</label></div>
                            <div class="col-md-6"><label>כינון אוטו':</label></div>
                       </div>
                        
                       <div class="row">
                           
                           <div class="col-md-4"></div>    
                           <div class="col-md-2">
                                <div fw-toggle ng-model='model.windshield'></div>
                           </div>
                           
                           <div class="col-md-4"></div>    
                           <div class="col-md-2">
                                <div fw-toggle ng-model='model.kinun'></div>
                           </div>

                       </div>
                        
                        <div class="row">
                             <div class="col-md-12" style="height:20px;"></div>
                       </div> 
                        
                       <div class="row">
                            <div class="col-md-6"><label>שמשות וגרירה חינם:</label></div>
                            <div class="col-md-6"><label>שרותי "פמי":</label></div>
                       </div>
                        
                       <div class="row">
                           
                           <div class="col-md-4"></div>    
                           <div class="col-md-2">
                                <div fw-toggle ng-model='model.grira'></div>
                           </div>
                           
                           <div class="col-md-4"></div>    
                           <div class="col-md-2">
                                <div fw-toggle ng-model='model.pami'></div>
                           </div>

                       </div>  
                       <div class="row">
                             <div class="col-md-12" style="margin-bottm:10px;"><hr></div>
                       </div> 
                       <div class="row">
                             <div class="col-md-6">     
                                  <input type="text" class="ui-corner-all" style="margin-bottom:10px;">
                              </div>     
                           
                            <div class="col-md-6">
                                <label for="fromDate">סכום ביטוח תוספות ואביזרים:</label>
                            </div> 
              
                       </div>                              
                    </div>  