                       <div id="carDiscountCollapsiblePanel">   
                       <div class="row">
                             <div class="col-md-12" style="margin-bottm:10px;"><hr></div>
                       </div>                         
                           
                       <div class="row">
                                   
                            <div class="col-md-6">
                                <select class="ui-corner-all" name="carModelYear" >
                                  <option value="">בחר</option>
                                  <option value="11">שנה אחד ללא תביעות</option>
                                  <option value="11">שנתיים ברצף ללא תביעות</option>
                                  <option value="12">שלוש שנים אחרונות ברצף ללא תביעות</option>
                                  
                                </select> 
                            </div>
                            <div class="col-md-6"><label>הנחת העדר תביעות:</label></div>
                            			

                       </div>    
                        
                       <div class="row">
                             <div class="col-md-12" style="height:20px;"></div>
                       </div> 
                        
                       <div class="row">
                                   
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6"><label>מורשים לנהוג:</label></div>
                            			

                       </div>                       
                       <div class="row">
                                   
                            <div class="col-md-6">
                                <select class="ui-corner-all" name="carModelYear" >
                                  <option value="">בחר</option>
                                  <option value="11">מעל גיל 30 ורשיון נהיגה מעל שנה</option>
                                  <option value="11">כל הנג מעל גיל 21 ורשיון נהיגה מעל שנה</option>
                                  <option value="12">מעל גיל 24 ורשיון נהיגה מעל שנה</option>
                                  
                                </select> 
                            </div>
                            <div class="col-md-6">
                                <select class="ui-corner-all" name="carModelYear" >
                                  <option value="">בחר</option>
                                  <option value="11">כל בהג</option>
                                  <option value="11">עד 2 נהגים נקובים</option>
                                </select> 
                            </div>
                            			

                       </div>
 
                      <div class="row">
                             <div class="col-md-12" style="height:20px;"></div>
                      </div> 
                      <div class="row">
                                   
                            <div class="col-md-6"><label>הנחת שבת:</label></div>
                            <div class="col-md-6"><label>הנחת חידוש:</label></div>
 
                       </div>                       
                       <div class="row">
                                   
                            <div class="col-md-6">
                                <select class="ui-corner-all"  name="carModelYear" >
                                  <option value="">בחר</option>
                                  <option value="11">ללא הנחת שבת</option>
                                  <option value="11">ללא נהיזה בשבת ובמועדי ישראל</option>
    
                                </select> 
                            </div>
                            <div class="col-md-6">
                                <select class="ui-corner-all" name="carModelYear" >
                                  <option value="">בחר</option>
                                  <option value="11">ללא הנחת חידוש</option>
                                  <option value="11">הנחת חידוש סוכן</option>
                                  <option value="11">הנחת חידוש חברה</option>
                                </select> 
                            </div>
                            			

                       </div>       
                        
                      <div class="row">
                             <div class="col-md-12" style="height:20px;"></div>
                      </div> 
                      <div class="row">
                                   
                            <div class="col-md-6"><label>הנחת חברה:</label></div>
                            <div class="col-md-6"><label>הנחה משותפת:</label></div>
 
                       </div>                       
                       <div class="row">
                                   
                            <div class="col-md-6">
                                <select class="ui-corner-all" name="carModelYear" >
                                  <option value="">בחר</option>
                                  <option value="11">ללא הנחה</option>
                                  <option value="11">הנחת חברה 10%</option>
    
                                </select> 
                            </div>
                            <div class="col-md-6">
                                <select class="ui-corner-all" name="carModelYear" >
                                  <option value="">בחר</option>
                                  <option value="11">ללא הנחה</option>
                                  <option value="11">הנחה משותפת 5% ע"ח 2.5% מהעמלה</option>
                                  <option value="11">הנחה משותפת 10% ע"ח 5% מהעמלה</option>
                                  <option value="11">הנחה משותפת 15% ע"ח 7.5% מהעמלה</option>
                                  <option value="11">הנחה משותפת 20% ע"ח 10% מהעמלה</option>
                                </select> 
                            </div>
                            			

                       </div> 
                        
                       <div class="row">
                          <div class="col-md-12" style="height:15px;"></div>
                       </div> 
                        
                        </div>