<table width="100%">
 <tr>
                                            <td>תאריך תחילת ביתוח</td>
                                            <td style="float:left;">{{model.fromDate.toString()}}</td>
                                        </tr>
                                        <tr>
                                            <td>תאריך סיום ביתוח</td>
                                            <td style="float:left;">{{model.toDate.toString()}}</td>
                                        </tr>
                                        <tr>
                                            <td>סוג רכב</td>
                                            <td style="float:left;">{{model.carType}}</td>
                                        </tr>
                                        <tr>
                                            <td>קוד דגם</td>
                                            <td style="float:left;">{{model.carModelId}}</td>
                                        </tr>  
                                        <tr>
                                            <td>בעלות</td>
                                            <td style="float:left;">{{model.carOwnership}}</td>
                                        </tr>                                       
                                        <tr>
                                            <td>יצרן</td>
                                            <td style="float:left;">{{model.carManufacturer}}</td>
                                        </tr>                                       
                                        
                                        <tr>
                                            <td>דגם</td>
                                            <td style="float:left;">{{model.carModel}}</td>
                                        </tr>        
                                        <tr>
                                            <td>שנת יצור</td>
                                            <td style="float:left;">{{model.carModelYear}}</td>
                                        </tr>
                                        <tr>
                                            <td>גיר</td>
                                            <td style="float:left;">{{model.gir}}</td>
                                        </tr>
                                        <tr>
                                            <td>קוד מיגון</td>
                                            <td style="float:left;">{{model.protectionCode}}</td>
                                        </tr>
                                    </table>     