                                   <table>
                                        <tr>
                                            <td>הנחת העדר תביעות</td>
                                        </tr>
                                        <tr>
                                            <td>מורשים לנהוג</td>
                                        </tr>
                                        <tr>
                                            <td>הנחת חידוש</td>
                                        </tr>
                                        <tr>
                                            <td>הנחת שבת</td>
                                        </tr>
                                        <tr>
                                            <td>הנחה משותפת</td>
                                        </tr>
                                        <tr>
                                            <td>הנחת תברה</td>
                                        </tr>
                                    </table>  